@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html, body{
    scroll-behavior: smooth;
}

.main-window{
    background-color: #F8F3D4;
}

.bg-primario{
    background-color: #F8F3D4;
}

.navlink{
    font-size: 20px;
    padding: 2em 1em;
    color: #45474B;
    transition: color 200ms ease-in-out;
}

.navlink:hover{
    color: #F6416C;
    transition: color 200ms ease-in;
}


.text-secundario{
    color: #F6416C;
    font-weight: bold;
}
.primary-title{
    color: #F6416C;
    font-size: 50px;
}
.btn-green{
    background-color: #00B8A9;
    color: white;
    border-radius: 5px;
    padding: 1em;
}

.main-img{
    border-radius: 50%;
}

.info-cards{
    margin: 60px 0;
    padding: 8em 5em 2em 5em;
}

.footer{
    margin-top: 150px;
}

.footerlink{
    color: #45474B;
    transition: color 200ms ease-in-out;
}

.footerlink:hover{
    color: #F6416C;
    transition: color 200ms ease-in;
}